[Desktop Entry]
Name=Simple Todo
Comment=A simple todo desktop app
Exec=simple-todo
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;